.user-panel-page {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f3f3f3;

  .feed-container {
    background: #fff;

    .feed-frame {
      width: 100%;
      padding: 5% 10% 0 10%;

      header {
        background: #fff;
      }

      .feed {
        padding: 10px;
        @include materialShadow(1);

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}