.building {
  height: 350px;
  padding: 10px;

  .building-page {
    //top: -64px;
  }

  .img-section {
    position: relative;

    img.maps-image {
      right: 5%;
      width: 250px !important;
      height: 250px !important;
      border: 4px solid black;
      bottom: -50px;
      position: absolute;
      border-radius: 10px;
    }
  }
}