@keyframes zoom {
  from {
    background-color: #CCCCCC;
    top: 0px;
    right: 0px;
  }
  to {
    background-color: rgba(96, 97, 98, 0.46);
    top: -5px;
    right: -5px;
  }
}

@-webkit-keyframes zoom {
  from {
    background-color: #CCCCCC;
    top: 0px;
    right: 0px;
  }
  to {
    background-color: rgba(96, 97, 98, 0.46);
    top: -5px;
    right: -5px;
  }
}


.comment-container {
  padding: 10px;
  background-color: #B3E5FC;

  .comment-view {
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 10px 0;

    .comment-line {
      margin: 1px;
      padding: 10px;
      position: relative;
      min-height: 80px;
      background-color: #CCCCCC;

      &:hover {
        background-color: rgba(96, 97, 98, 0.46);
        top: -5px;
        right: -5px;

        animation-name: zoom;
        -webkit-animation-name:zoom;
        animation-duration: .2s;
        -webkit-animation-duration: .2s;
      }
    }
  }

  .comment-control {
    textarea.comment-textarea {
      width: 100%;
      margin: 0 0 10px 0;
      display: block;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
    }
  }
}